<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/main.min.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="body-background">
    <div class="container">
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="@Url.Action("Index", "Home")">
                                Home
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        @if (Request.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Log out", "LogOut", "Login", null, new { @class = "btn btn-primary btn-lg custom-button-anchor" })
                            </li>
                        }
                        else
                        {
                            <li>
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register-modal">
                                    Register
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal">
                                    Log in
                                </button>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 header">
                <div class="well text-center">
                    Students register
                </div>
            </div>
        </div>

        <div class="row row-padding">
            <div class="col-sm-12 main-wrapper">
                @RenderBody()
            </div>
        </div>

        <div class="footer navbar-fixed-bottom">
            <div class="container">
                <p class="text-muted text-center">Created by Krzysztof Truskolaski</p>
            </div>
        </div>

    </div>

    @RenderSection("Modals", required: false)

    @***************************************************************@

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/TypeScript/main.js"></script>
</body>
</html>
